---
import Layout from '../layouts/Layout.astro';
import { Picture } from 'astro:assets';

const { title, description, subTitle, src, alt, classContent = "max-w-2xl mx-6 my-16 lg:mx-auto" } = Astro.props;
---

<Layout title={title} description={description}>
  <div class="grille grid h-screen grid-rows-[4fr_1fr] relative lg:grid-rows-[3fr_1fr]">
    <div class="my-12 space-y-8 self-end text-white z-[2] lg:col-span-9">
      <h1>{title}</h1>
      {subTitle && (
      <h2 class="font-sans text-sm font-bold uppercase lg:text-lg">{subTitle}</h2>
      )}
    </div>

    <div class="relative z-[1] row-start-2 flex items-center -mx-6 px-6 bg-white text-xl leading-normal lg:text-3xl lg:col-span-9 lg:mx-0 lg:pl-0 lg:before:absolute lg:before:top-0 lg:before:ml-[-100%] lg:before:h-full lg:before:w-full lg:before:bg-white">
      <slot name="chapo"/>
    </div>
    <Picture 
      pictureAttributes={{ class: "duotone !absolute inset-0 object-cover" }} 
			formats={['avif', 'webp']} 
			src={src} 
			alt={alt} 
			widths={[540, 1024, src.width]}
			sizes={`(max-width: 540px) 540px, (max-width: 1024px) 1024px, ${src.width}px`}
		/>
    <slot name="patterns"/>
  </div>
  <div class={classContent}>
    <slot name="content"/>
  </div>
</Layout>